#header {
    height: 75px;
    background-color: #2f697f;
}
#mapdiv {
    height: 80vh;
    background-color:#50bba1;
}
#side_panel {
    height: 80vh;
    background-color:#449e95;
}
#footer {
    height:75px;
    background-color: #388188;
}
.attraction{
  margin-bottom: 2px;
}
.text-center a:hover{ color: #001fff; }

/* The Modal (background) */
.modal{
    z-index: 1000; /* Sit on top */
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    display: none; /* Hidden by default */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content{
    padding: 20px;
    background-color:tan;
    margin-top: 10%; 
}
